* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.uppercase {
  text-transform: uppercase;
}

.botao {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  padding: 5%;
  cursor: pointer;
}

/* Header */

.header-topo {
  background-image: url("/star/star uó topo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.kylo {
  width: 60%;
  height: 80%;
  top: 100px;
  left: -4%;
}

.star {
  width: 20%;
  left: 24%;
  bottom: 39%;
}

.wars {
  width: 23%;
  right: 13%;
  bottom: 39%;
}

.legiao {
  width: 8.5%;
  right: 15%;
  bottom: 150px;
}

/* Main */

.main-topo {
  background-image: url("star/sta uo robot@2x.png");
  background-color: white;
  /* background-position: left; */
  background-size: 65rem;
  background-repeat: no-repeat;
  min-height: 185vh;
}

.comece-a-jogar {
  background-image: url("star/strom\ trupe\ red@2x.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  top: -5rem;
  left: 12%;
  width: 32rem;
  height: 50rem;
  font-family: "Dosis", sans-serif;
  color: white;
  padding: 5%;
}

.comece-a-jogar h2 {
  font-size: 4.5rem;
  font-weight: 500;
}

.comece-a-jogar p {
  font-size: 1.65rem;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  margin: 25% 0 25%;
}

.comece-a-jogar button {
  border: 3px solid white;
  border-radius: 10px;
  background: none;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0) 50%,
    black 50%
  );
  background-size: 200% 100%;
  transition: background-position 1s;
  width: 80%;
}

.comece-a-jogar button:hover {
  font-size: 2.25rem;
  padding: 4.5%;
  background-position: -100% 0;
}

.sobre-jogo {
  position: absolute;
  right: 12%;
  top: 80rem;
  width: 40%;
}

.linha2 {
  position: absolute;
  right: 12%;
  bottom: -45rem;
  width: 73%;
}

.main-estrutura {
  justify-content: flex-end;
}

.menu {
  width: 30rem;
  position: relative;
  right: 30%;
}

.estrutura {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  padding: 15% 0 2.5% 0;
  text-align: right;
}

.lista-menu {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  list-style: none;
  text-align: right;
  font-size: 1.5rem;
  z-index: 100;
}

.lista-menu li {
  padding: 5% 2.5%;
}

.lista-menu li:hover {
  background: #ff5c3a;
  color: white;
  cursor: pointer;
}

.lord {
  position: absolute;
  left: 15%;
  bottom: -108rem;
  width: 50%;
  z-index: 10;
}

.rey {
  position: absolute;
  right: 6%;
  bottom: -110rem;
  width: 25%;
  z-index: 10;
}

.main-fundo {
  background-image: url("/star/Retângulo 3.svg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -4px;
}

.atributos-descricao {
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 2.5rem;
  padding: 10% 17% 2.5%;
}

.atributos-img-grid {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.img-um {
  width: 50rem;
}

.img-dois,
.img-tres,
.img-quatro,
.img-cinco {
  width: 25rem;
}

.img-wrapper:hover .overlay {
  transform: scale(1);
}

.overlay {
  position: absolute;
  height: 110%;
  width: 107.5%;
  top: 0;
  left: 0;
  margin-top: -3.5%;
  margin-left: -3.5%;
  padding: 10%;
  color: white;
  transform: scale(0);
  transition: transform 0.75s ease-in-out;
}

.overlay h2 {
  font-family: "Work Sans", sans-serif;
}

.overlay .botao-atributos {
  background: none;
  font-size: 1rem;
  padding: 2.5% 6%;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0) 50%,
    rgba(119, 136, 153, 0.3) 50%
  );
  background-size: 200% 100%;
  transition: background-position 0.25s;
}

.overlay button:hover {
  transform: scale(1.05);
  background-position: -100% 0;
}

.img-um-overlay {
  background: rgba(140, 20, 252, 0.5);
}

.img-dois-overlay {
  background: rgba(255, 0, 0, 0.5);
}

.img-tres-overlay {
  background: rgba(255, 204, 0, 0.5);
}

.img-quatro-overlay {
  background: rgba(0, 0, 255, 0.5);
}

.img-cinco-overlay {
  background: rgba(0, 255, 0, 0.5);
}

.titulo-grid-um {
  font-size: 3rem;
  width: 2rem;
  padding-bottom: 5%;
}
.descricao-guerra {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  width: 22rem;
  padding-bottom: 3%;
}

.titulo-grid-dois {
  font-size: 1.25rem;
  width: 2rem;
  padding-bottom: 8%;
}

.titulo-grid-tres {
  font-size: 1.25rem;
  width: 15rem;
  padding-bottom: 5%;
}

.titulo-grid-quatro {
  font-size: 1.25rem;
  width: 10rem;
  padding-bottom: 5%;
}

.descricao {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  padding-bottom: 3%;
}

.hierarquia {
  width: 100rem;
  padding: 3% 0 0.75% 0;
}

.normas {
  justify-content: end;
  padding: 0 8% 5% 0;
}

.normas-descricao {
  color: white;
  width: 30rem;
  text-align: right;
  font-size: 0.65rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
}

.como-jogar {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-size: 2rem;
  padding-bottom: 10%;
}

.capa-preta {
  width: 30rem;
  top: -15rem;
  left: 10rem;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}

.numeracao {
  position: relative;
  justify-content: space-between;
  top: 5rem;
  font-size: 2rem;
}

.numeracao-1,
.numeracao-2,
.numeracao-3 {
  position: relative;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.numeracao-1 div,
.numeracao-2 div,
.numeracao-3 div {
  order: 4;
}

.numeracao h3 {
  font-weight: 200;
  font-family: sans-serif;
  order: -1;
  margin-bottom: 10%;
}

.numeracao p {
  margin-top: 10%;
  height: 15%;
}

.numeracao hr {
  width: 30%;
  border: 2px solid black;
}

.num-botao:hover ~ h3 {
  transition: 1s ease-in-out;
  font-weight: bold;
  transform: scale(1.2);
}

.num-botao:hover ~ h3 ~ div hr {
  transition: 1s ease-in-out;
  border: 2px solid red;
}

.numeracao .num-botao {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  background: none;
  background-image: linear-gradient(to right, black 50%, red 50%);
  background-size: 200% 100%;
  transition: background-position 1s;
  padding: 5% 10%;
}

.num-botao:hover {
  background-position: -100% 0;
}
