* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.uppercase {
  text-transform: uppercase;
}

/* Header */

.header-topo {
  background-image: url("/star/star uó topo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.kylo {
  width: 60%;
  height: 80%;
  top: 100px;
  left: -4%;
}

.star {
  width: 20%;
  left: 24%;
  bottom: 39%;
}

.wars {
  width: 23%;
  right: 13%;
  bottom: 39%;
}

.legiao {
  width: 8.5%;
  right: 15%;
  bottom: 150px;
}

/* Main */

.main-topo {
  background-image: url("star/sta uo robot@2x.png");
  background-color: white;
  background-position: left;
  background-size: 65rem;
  background-repeat: no-repeat;
  min-height: 185vh;
}

.comece-a-jogar {
  background-image: url("star/strom\ trupe\ red@2x.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  top: -5rem;
  left: 12%;
  width: 32rem;
  height: 50rem;
  font-family: "Dosis", sans-serif;
  color: white;
  padding: 5%;
}

.comece-a-jogar h2 {
  font-size: 4.5rem;
  font-weight: 500;
}

.comece-a-jogar p {
  font-size: 1.65rem;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  margin: 25% 0 25%;
}

.comece-a-jogar button {
  border: 3px solid white;
  border-radius: 10px;
  background: none;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  width: 80%;
  padding: 5%;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0) 50%,
    black 50%
  );
  transition: background-position 1s;
  transition: 0.5s ease;
  cursor: pointer;
}

.comece-a-jogar button:hover {
  font-size: 2.25rem;
  padding: 4.5%;
  background-position: -100% 0;
}

.sobre-jogo {
  position: absolute;
  right: 12%;
  top: 80rem;
  width: 40%;
}

.linha2 {
  position: absolute;
  right: 12%;
  bottom: -45rem;
  width: 73%;
}

.main-estrutura {
  justify-content: flex-end;
}

.menu {
  width: 30rem;
  position: relative;
  right: 30%;
}

.estrutura {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  padding: 15% 0%;
  text-align: right;
}

.lista-menu {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  list-style: none;
  text-align: right;
  font-size: 1.5rem;
  z-index: 100;
}

.lista-menu li {
  padding: 5% 0%;
}

.lista-menu li:hover {
  background: #ff5c3a;
  color: white;
  cursor: pointer;
}

.lord {
  position: absolute;
  left: 15%;
  bottom: -108rem;
  width: 50%;
  z-index: 10;
}

.rey {
  position: absolute;
  right: 6%;
  bottom: -108rem;
  width: 25%;
  z-index: 10;
}

.main-fundo .fundo {
  background-image: url("/star/Retângulo 3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -4px;
  height: 800px;
}
