*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #2D2D2D; */
}

.topo{
     background-image: url("/star/star uó topo.png");
     background-repeat: no-repeat;
     background-size: cover; 
     background-position: center center;
    
}

.conteudo{
    display: flex;
    justify-content: center;
}

.kylo{
    width: 60%;
    height: 80%;
    position: relative;
    top: 100px; 
    left: -4%;
    
}

.star{
    width: 20%;
    position: absolute;   
    left: 24%;
    bottom: 39%;   
}

.wars{
    width: 23%;
    position: absolute;   
    right: 13%;
    bottom: 39%;   
}
.legiao{
    position: absolute;
    width: 8.5%;
    right: 15%;
    bottom: 150px;

}
.left-main{
    position: relative;
}
.left-main .robo{
    width: 45%;
}

.comeceJogar {
    position: absolute;
    left: 17%;
    top: -40px; 
    width: 20%;
}

.sobre-jogo{
    position: absolute;
    right: 12%;
    top: 310px; 
    width: 40%;
}
.linha2{
    position: absolute;
    right: 12%;
    top: 600px; 
    width: 73%;
}
.lord{
    position: absolute;
    left: 15%;
    bottom: -70px; 
    width: 50%;
    z-index: 10;
}
.rey{
    position: absolute;
    right: 0%;
    bottom: -90px; 
    width: 24%;
    z-index: 10;
}
.seg-main .fundo{
    background-image: url("/star/Retângulo 3.svg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    position: relative;
    top: -4px; 
    height: 800px;
}